<!doctype html>

<html>
  <body style="background-color:#282828; color:#eeeeee;">
    <div class="row">
        <h2>{{id}} Term</h2>
        <p id={{id}} class='chart'></p>
        <form method = 'POST'>
            <div class="rangeslider">
                <input type="range" min="15" max="100" step="5" value="30" class="slider" id="{{slider_id}}">
            </div>
        </form>
    </div>
    <div id="sliderAmount"></div>
  </body>
</html>

<script type='text/javascript'>
    var _graph = {{ graph | safe}};
    var _id = {{id | safe}};
    Plotly.plot(_id, _graph, {});
</script>


<script type='text/javascript'>
    var sliderDiv = document.getElementById("sliderAmount");

    ({{slider_id}}).oninput = function() {
        sliderDiv.innerHTML = this.value;
        $.ajax({
                url: '/background_process_test',
                type: "POST",
                data: {'ss': this.value, 'id': ({{slider_id}}).id},
                success: function(res) {
                    Plotly.newPlot(res['gid'], JSON.parse(res['gp']), {});
                }
        });
    }
</script>

